*{
    padding: 0;
    margin: 0;
    font-family: "Questrial", sans-serif;
    color: #fef5ec;
}

ul{
    list-style: none;
}

body{
    background-color: #313030;
}

.companyNameNav {
    height: 44px;
    background-color: #272726;
    border-bottom: black 1.5px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    position: sticky;
    top: 0;
}

.logo {
    height: 20px;
    width: 152px;
    background-image: url(/media/envatoMarketLogo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

.button {
    
    background-color: #83b441;
    border: none;
    color: fef5ec;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

#play{
    width: 150px;
    height: 40px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .8);
    font-size: 20px;
    color: #fef5ec;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    border-radius: 5px;
    position: absolute;
    left: 40px;
    display: none;
}

#play div{
    width: 17px;
    height: 13.5px;
    margin-left: 12px;
    padding: 8px 0px;
    background-image: url(/media/play.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}

#settings{
    
}

#fileSystem{
    height: 66px;
    width: auto;
    background-color: #313030;
}

#fileSystemList{
    margin-left:35.91px;
    color: #fef5ec;
    height: 66px;
    width: 304.82px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}


button{
    border: none;
    color: #fef5ec;
    background-color: transparent;
    font-size: 15px;
    text-align: left;
    padding: 4px 6px;
}

.dropDownMenu{
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dropDownMenu a{
    height: 27px;
    display: block;
    text-decoration: none;
    color: #fef5ec;
    padding: 6px 12px;
    background-color: #313030;
}

.dropDownMenu .content{
    width: fit-content;
    position: absolute;
    display: none;
}

#fileSystemListbutton:hover{
}


#arrow
{
    
    width: 10px;
    height: 10px;
    background-image: url(/media/Arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

#editArea{
    width: 100%;
    height: 680px;
    display: flex;
}

/* toolbox styling */

.toolIcon{
    margin-left:20px ;
    width: 50px;
    height: 29px;   
    background-size: contain;
    background-repeat: no-repeat;
}

.toolIcon:hover{
    background-color: grey;
}

#arrowPointer{
    background-color: blue;
    background-image: url(/media/arrow\ pointer.svg);

}

#editPencil{
    background-image: url(/media/edit\ pencil.svg);

}

#recangle{
    background-image: url(/media/Rectangle.svg);
}

#circle{
    background-image: url(/media/Circle.svg);
}

#textIcon{
    background-image: url(/media/text\ a.svg);
}

#pen{
    background-image: url(/media/pen.svg);

}

#ancorPoints{
    background-image: url(/media/anchorPoints.svg);
}

#curveAncorPoints{
    background-image: url(/media/curveAncorPoints.svg);
}

#star{
    background-image: url(/media/star.svg);
}

#drop{
    background-image: url(/media/drop.svg);
}

#paint{
    background-image: url(/media/paint\ fill.svg);
}

#line{
    background-image: url(/media/Line.svg);
}

#zoomPlus{
    background-image: url(/media/zoom+.svg);
}

#zoomMinus{
    background-image: url(/media/zoom-.svg);
}

/* edit region */
#editableRegion{
    width: 100%;
    height: 100%;
    box-shadow: inset 0 5px rgba(0, 0, 0, .5);
    background-image: url(/media/imageArea.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}


/* Advance Tool Tab Area */

#advanceTools{
    width: 280px;
    height: 680px;
}


#advanceTools{
    padding: 6px 12px;
}

#advanceTools iframe{
    width: 280px;
    height: 100%;
}



/* footer */

#footerCompany
{
    margin-top: 50px;
    border-top: 1px solid #fef5ec;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#footerCompany ul li
{
    color: #fef5ec;
    padding: 10px 0px;
}

#footerLogo{
    width: 280px;
    height: 150px;
    background-image: url(/media/envatoMarketLogo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#footerCompany ul li:hover{
    cursor: pointer;
}


/* preloader */

#preloader{
    width: 100%;
    height: 100%;
    background-color: #272726;
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* loading dots */

.loader {
    
    text-align: center;    
}

.loader h4{
    font-size: 20px;
    color: #fef5ec;
}

.loader p{
    font-size: 16px;
    color: #fef5ec;
}

.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    margin: 25px 8px;
    border-radius: 50px;
    -webkit-animation: loader 0.5s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.4s;
}
.loader span:nth-of-type(4) {
    -webkit-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
  0% {
    width: 12px;
    height: 12px;
    opacity: 1;
  }
  100% {
    width: 12px;
    height: 12px;
    opacity: 0.3;
  }
}
  
@media only screen and (max-width: 781px) {

    #fileSystem{
        float: right;
        margin-top: 15px;
        margin-right: 20px;
    }


    #editArea{
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #tools{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    #editableRegion{
        height: 300px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
    }

    #advanceTools{
        display: none;
        position: absolute;
        height: 0px;
    }

    #footerCompany{
        flex-direction: column;
    }

    #play{
        display: flex;
    }

    #settings{
        width: 50px;
    height: 29px;
    background-image: url(/media/Settings.svg);
    background-size: contain;
    background-repeat: no-repeat;
    right: 20px;
    position: absolute;
    }

  }